

<div class="header flex justify-between items-center mb-4 ">
  <h1 class="text-2xl font-semibold text-stone-800">All Categories</h1>
  <a routerLink="../addCategory" class="bg-[var(--primary)] text-white p-3  rounded-xl  cursor-pointer">
    <i class="fa-solid fa-plus"></i>
    Add a new category</a>
</div>
<section class="bg-white rounded-2xl p-6">
  <div class="mb-4 input-search border border-slate-300 bg-white text-zinc-400 rounded-xl p-4 w-full  flex ">
    <span class="pe-4"><i class="fa-solid fa-magnifying-glass"></i></span>
    <input type="text" placeholder="Search..." class="w-full text-zinc-400 focus:outline-none bg-white" [(ngModel)]="textSearch" >
  </div>

  <p-table  [value]="categories| filterCategory:textSearch"  [paginator]="true" [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ 'min-width': '100%' }"
    >
    <ng-template #header>
        <tr>
            <th>Name</th>
            <th class="md:w-[40%] xl:w-[65%] ">Products</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-category>
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.productsCount }} Products</td>
            <td>
              <div class="flex space-x-2 relative">
                <!-- <div class="md:hidden">

                  <p-menu #menu [model]="items" [popup]="true" />
                  <p-button (onClick)="menu.toggle($event)" icon="fa-solid fa-ellipsis-vertical"/>
                </div> -->

              <!-- <button class=" p-2 rounded-md	border border-zinc-300 md:hidden hover:bg-zinc-800 hover:text-white"
              (click)="showMenu(category._id)">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button> -->
              <div class="hidden md:flex space-x-2 md:relative absolute " [class.hidden]="!actionShow  ">
                <a class="bg-sky-700/[.1] text-sky-700 p-2 rounded-md	hover:bg-sky-700 hover:text-white"
                [routerLink]="['/editCategory', category._id]">
                  <i class="fa-solid fa-pencil"></i>
                  Edit
                </a>
                <button class="bg-red-600/[.1] text-red-600  p-2 rounded-md	hover:bg-red-600 hover:text-white"
                (click)="deleteCategory($event, category._id)"

                >
                  <i class="fa-regular fa-trash-can"></i>
                  Delete
                </button>
              </div>
              </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</section>
   <p-toast />
<p-confirmdialog />
