<div class="header flex justify-between items-center mb-4">
  <h1 class="text-2xl font-semibold text-stone-800">Add a New Category</h1>

</div>

<section class="bg-white rounded-2xl p-6">
    <form class="flex flex-col" [formGroup]="categoryForm" (ngSubmit)="AddCategory()">
      <div class="w-10/12 mb-4">
        <label for="name" class="text-zine-800 mb-2 block">Name <span class="text-red-700">*</span></label>
        <input type="text" placeholder="Enter category name" formControlName="name" id="name"
        class="w-full text-zinc-400 focus:outline-none bg-white p-4 border border-slate-300 rounded-xl">
        @if(categoryForm.get('name')?.errors && categoryForm.get('name')?.touched){
          <p class="text-red-500">Please add a title to the category. </p>
        }
      </div>
      <div class="w-10/12 mb-4">
        <label for="" class="text-zine-800 mb-2 block">Category image <span class="text-red-700">*</span> </label>
        <div class="relative">
          <input type="text" name="" id="" class="w-full text-zinc-400 focus:outline-none bg-white p-4 border border-slate-300 rounded-xl"  [value]="selectedFileName" placeholder="No file selected" readonly>
          <button class="absolute end-0 text-red-500 p-4" type="button" (click)="fileImage.click()"><i class="fa-solid fa-upload me-2"></i> Upload file</button>
        </div>
        <input type="file" #fileImage  class="w-full text-zinc-400 focus:outline-none bg-white p-4 border border-slate-300 rounded-xl hidden" accept="image/png"
          (change)="onImageSelected($event)">
      </div>

        @if(buttonStatus) {
          <app-button
              [typeButton]="'submit'"
              [label]="'Edit Category'"
              [disabledAction]="categoryForm.invalid">
            </app-button>

        } @else {
          <app-button
              [typeButton]="'submit'"
              [label]="'Add Category'"
              [disabledAction]="categoryForm.invalid">
            </app-button>
        }
    </form>
</section>
    <p-toast />
