<div class="account-form ">

  <div class="header mb-9">
        <div class="title">
          <h2 class=" text-center text-primary-dark capitalize text-3xl font-bold inline-table relative mx-auto isolate dark:text-darkMode-secondary isolate">Change Password
      </h2>
        </div>
      </div>


<div class="bg-white  p-6 rounded-lg shadow-md  mb-10  ">
  <div class="change-password">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <div class="form-group mb-4 ">
        <label for="oldPassword">Old Password</label>
        <div class="relative">
          <input  [type]="oldPassword ? 'text':'password'" name="password" formControlName="password" id="oldPassword"  placeholder="**********" autocomplete="off"   class="border border-slate-300 bg-white rounded-[10px] p-3 w-full  focus:outline-none">
          <button class="icon absolute end-0 z-2 p-3 text-zinc-400"  (click)="oldPassword= !oldPassword"><i class="fa-solid fa-fw" [class]="oldPassword? 'fa-eye':'fa-eye-slash'"></i></button>
        </div>
      </div>
      <hr class="mb-4">
    <div class="form-group mb-4 relative">
        <label for="newPassword">New Password</label>
        <div class="relative">
          <input [type]="newPassword ? 'text':'password'"  name="newPassword"  formControlName="newPassword"  id="newPassword" placeholder="**********"  autocomplete="new-password" autocomplete="off"  class="border border-slate-300 bg-white rounded-[10px] p-3 w-full  focus:outline-none">
          <button class="icon absolute end-0 z-2 p-3 text-zinc-400"  (click)="newPassword= !newPassword"><i class="fa-solid fa-fw" [class]="newPassword? 'fa-eye':'fa-eye-slash'"></i></button>
        </div>
      </div>
    <div class="form-group mb-4 relative">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="">
          <input [type]="confirmPassword ? 'text':'password'"  formControlName="confirmPassword" name="confirmPassword"  id="confirmPassword" placeholder="**********"  autocomplete="new-password"  autocomplete="off" suggested="current-password" class="border border-slate-300 bg-white rounded-[10px] p-3 w-full  focus:outline-none">
          <button class="icon absolute end-0 z-2 p-3 text-zinc-400"  (click)="confirmPassword= !confirmPassword"><i class="fa-solid fa-fw" [class]="confirmPassword? 'fa-eye':'fa-eye-slash'"></i></button>

        </div>
      </div>

      <div class="flex justify-end items-center mt-[60px]">
        <app-button
              [typeButton]="'submit'"
              [label]="'Change Password'"
              >
            </app-button>
        <!-- <button type="submit" class="bg-[var(--primary)] text-white rounded-[10px] py-2.5 px-5 hover:bg-primary-dark hover:shadow-lg transition-all dark:bg-darkMode-secondary dark:hover:bg-secondary">Change Password</button> -->
      </div>
  </form>
</div>
  </div>
</div>
